/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
  background-color: #3f2a56;
}

.home {
  background: #3f2a56;
}

.message {
  background-color: rgba(245, 155, 187, 0.064);
  border-radius: 6px;
  padding: 20px;
}

.button-search-city {
  border: 1px solid rgba(201, 201, 201, 0.543);
}
