/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
  background-color: #3f2a56;
}

.message {
  background-color: #3222453c;
  border-radius: 6px;
  padding: 10px;
}

.button-search-city {
  border: 1px solid rgba(201, 201, 201, 0.543);
  touch-action: manipulation;
}

.footer {
  background-color: #322245;
}
